html body {
  font-family: "Helvetica";
  /**************
            HEADER
        **************/
  /***********
            BODY
        ***********/
  /*****************
            Responsive
        *****************/
}
html body #header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  background-color: orange;
}
html body #header #headerBar {
  width: 810px;
  margin: auto;
}
html body #header #headerBar #headerTitle {
  color: #fff;
  font-weight: 100;
  float: left;
}
html body #header #headerBar #userDetails {
  float: right;
  margin-top: 15px;
  color: #fff;
  text-align: right;
}
html body #header #headerBar #userDetails #firstName {
  font-size: 150%;
}
html body #header #headerBar #userDetails #lastName {
  font-size: 90%;
}
html body .body {
  margin-top: 125px;
}
html body .body .button {
  min-width: 100px;
  color: #fff;
  border: 1px solid #fff;
  background-color: orange;
  padding: 5px 7px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 80%;
}
html body .body .button:hover {
  color: orange;
  border-color: orange;
  background-color: white;
}
html body .body .standardWidth {
  width: 810px;
  margin: auto;
}
html body .body #pageGame .boardContainer {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
html body .body #pageGame .boardContainer h3 {
  font-weight: 200;
  margin: 0;
}
html body .body .board td {
  width: 40px;
  height: 40px;
  background-color: orange;
  font-size: 11px;
  text-align: center;
}
html body .body .board#boardPlayer td.hover,
html body .body .board#boardComputer td.hover {
  background-color: #cc8400;
}
html body .body .board#boardPlayer td.containsShip,
html body .body .board#boardComputer td.containsShip {
  background-color: blue;
}
html body .body .board#boardPlayer td.hit,
html body .body .board#boardComputer td.hit {
  background-color: grey;
}
html body .body .board#boardPlayer td.hit.containsShip,
html body .body .board#boardComputer td.hit.containsShip {
  background-color: red;
}
