html body {
  font-family: "Helvetica";
  font-weight: 100;
  /**************
            HEADER
        **************/
  /***********
            BODY
        ***********/
  /*****************
            Responsive
        *****************/
}
html body h3,
html body h4 {
  font-weight: 100;
}
html body #header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  background-color: orange;
}
html body #header #headerBar {
  width: 810px;
  margin: auto;
}
html body #header #headerBar #headerTitle {
  color: #fff;
  font-weight: 100;
  float: left;
}
html body #header #headerBar #userDetails {
  float: right;
  margin-top: 15px;
  color: #fff;
  text-align: right;
}
html body #header #headerBar #userDetails #firstName {
  font-size: 150%;
}
html body #header #headerBar #userDetails #lastName {
  font-size: 90%;
}
html body .body {
  margin-top: 125px;
}
html body .body .button {
  min-width: 100px;
  color: #fff;
  border: 1px solid #fff;
  background-color: orange;
  padding: 5px 7px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  font-size: 80%;
}
html body .body .button:hover {
  color: orange;
  border-color: orange;
  background-color: white;
}
html body .body .standardWidth {
  width: 810px;
  margin: auto;
}
html body .body .wideWidth {
  width: 1200px;
  margin: auto;
}
html body .body #pageGame {
  text-align: center;
}
html body .body #pageGame .sideContainer {
  display: inline-block;
  clear: both;
  vertical-align: top;
  text-align: left;
}
html body .body #pageGame .sideContainer#playerContainer .boardContainer {
  float: right;
}
html body .body #pageGame .sideContainer#playerContainer .remainingShipsContainer {
  float: left;
  padding-right: 20px;
}
html body .body #pageGame .sideContainer#opponentContainer .boardContainer {
  float: left;
}
html body .body #pageGame .sideContainer#opponentContainer .remainingShipsContainer {
  float: right;
  padding-left: 20px;
}
html body .body #pageGame .sideContainer .remainingShipsContainer ul li.destroyed {
  text-decoration: line-through;
}
html body .body #pageGame .sideContainer .boardContainer {
  width: 400px;
}
html body .body #pageGame .sideContainer .boardContainer h3 {
  font-weight: 200;
  margin: 0;
}
html body .body #pageGame .sideContainer .boardContainer .board td {
  width: 40px;
  height: 40px;
  background-color: orange;
  font-size: 11px;
  text-align: center;
}
html body .body #pageGame .sideContainer .boardContainer .board#boardPlayer td.hover,
html body .body #pageGame .sideContainer .boardContainer .board#boardComputer td.hover {
  background-color: #cc8400;
}
html body .body #pageGame .sideContainer .boardContainer .board#boardPlayer td.containsShip,
html body .body #pageGame .sideContainer .boardContainer .board#boardComputer td.containsShip {
  background-color: blue;
}
html body .body #pageGame .sideContainer .boardContainer .board#boardPlayer td.hit,
html body .body #pageGame .sideContainer .boardContainer .board#boardComputer td.hit {
  background-color: grey;
}
html body .body #pageGame .sideContainer .boardContainer .board#boardPlayer td.hit.containsShip,
html body .body #pageGame .sideContainer .boardContainer .board#boardComputer td.hit.containsShip {
  background-color: red;
}
html body .body #pageGame .sideContainer .boardContainer .board#boardPlayer td.noHover,
html body .body #pageGame .sideContainer .boardContainer .board#boardComputer td.noHover {
  background-color: red;
}
html body .body ul.blank {
  list-style: none;
  padding: 0;
}
html body .body ul li {
  margin-bottom: 7px;
}
html body .body fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
}
html body .body fieldset legend {
  background-color: orange;
  padding: 4px 12px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
}
html body .body input,
html body .body select,
html body .body textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 7px;
  line-height: 20px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}
html body .body input:hover,
html body .body select:hover,
html body .body textarea:hover,
html body .body input:focus,
html body .body select:focus,
html body .body textarea:focus {
  border-color: orange;
}
html body .body input[type=text],
html body .body input[type=password] {
  width: 250px;
}
html body .body #registrationForm,
html body .body #loginForm {
  width: 550px;
  margin: auto;
}
html body .body #registrationForm label,
html body .body #loginForm label {
  width: 150px;
  display: inline-block;
}
html body .body #registrationForm#loginForm,
html body .body #loginForm#loginForm {
  width: 500px;
}
html body .body #registrationForm#loginForm label,
html body .body #loginForm#loginForm label {
  width: 100px;
}
html body .body #registrationForm fieldset .button,
html body .body #loginForm fieldset .button {
  float: right;
  margin-top: 20px;
}
html body .body #registrationForm fieldset ul,
html body .body #loginForm fieldset ul {
  padding-left: 40px;
}
html body .body #registrationForm .registrationExtra,
html body .body #loginForm .registrationExtra {
  font-size: 70%;
  margin-top: 7px;
}
html body .body #registrationForm .registrationExtra i,
html body .body #loginForm .registrationExtra i {
  padding: 0 7px;
}
html body .body #registrationForm .registrationExtra .button,
html body .body #loginForm .registrationExtra .button {
  padding: 0 5px;
}
