html {
    body {
        @mainColour: orange;

        // Standards
        font-family: "Helvetica";
        font-weight: 100;

        h3, h4 {
            font-weight: 100;
        }

        /**************
            HEADER
        **************/
        #header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 80px;
            background-color: @mainColour;

            #headerBar {
                width: 810px;
                margin: auto;

                #headerTitle {
                    color: #fff;
                    font-weight: 100;
                    float: left;
                }

                #userDetails {
                    float: right;
                    margin-top: 15px;
                    color: #fff;
                    text-align: right;

                    #firstName {
                        font-size: 150%;
                    }

                    #lastName {
                        font-size: 90%;
                    }
                }
            }
        }

        /***********
            BODY
        ***********/
        .body {
            margin-top: 125px;

            .button {
                min-width: 100px;
                color: #fff;
                border: 1px solid #fff;
                background-color: @mainColour;
                padding: 5px 7px;
                display: inline-block;
                text-align: center;
                border-radius: 3px;
                cursor: pointer;
                font-size: 80%;

                &:hover {
                    color: @mainColour;
                    border-color: @mainColour;
                    background-color: white;
                }
            }

            .standardWidth {
                width: 810px;
                margin: auto;
            }

            .wideWidth {
                width: 1200px;
                margin: auto;
            }

            #pageGame {
                text-align: center;

                .sideContainer {
                    display: inline-block;
                    clear: both;
                    vertical-align: top;
                    text-align: left;

                    &#playerContainer {
                        .boardContainer {
                            float: right;
                        }

                        .remainingShipsContainer {
                            float: left;
                            padding-right: 20px;
                        }
                    }

                    &#opponentContainer {
                        .boardContainer {
                            float: left;
                        }

                        .remainingShipsContainer {
                            float: right;
                            padding-left: 20px;
                        }
                    }

                    .remainingShipsContainer {
                        ul {
                            li {
                                &.destroyed {
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }

                    .boardContainer {
                        width: 400px;

                        h3 {
                            font-weight: 200;
                            margin: 0;
                        }

                        .board {
                            td {
                                width: 40px;
                                height: 40px;
                                background-color: @mainColour;
                                font-size: 11px;
                                text-align: center;
                            }

                            &#boardPlayer,
                            &#boardComputer {
                                td {
                                    &.hover {
                                        background-color: #cc8400;
                                    }

                                    &.containsShip {
                                        background-color: blue;
                                    }

                                    &.hit {
                                        background-color: grey;

                                        &.containsShip {
                                            background-color: red;
                                        }
                                    }

                                    &.noHover {
                                        background-color: red;
                                    }   
                                }
                            }
                        }
                    }
                }
            }

            ul {
                &.blank {
                    list-style: none;
                    padding: 0;
                }

                li {
                    margin-bottom: 7px;
                }
            }

            fieldset {
                border: 1px solid #ccc;
                border-radius: 5px;

                legend {
                    background-color: @mainColour;
                    padding: 4px 12px;
                    border-radius: 5px;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }

            input, select, textarea {
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 5px 7px;
                line-height: 20px;
                outline: 0;
                border: 1px solid #ccc;
                border-radius: 2px;
                
                &:hover,
                &:focus {
                    border-color: @mainColour;
                }
            }

            input[type=text],
            input[type=password] {
                width: 250px;
            }

            #registrationForm,
            #loginForm
             {
                width: 550px;
                margin: auto;

                label {
                    width: 150px;
                    display: inline-block;
                }

                &#loginForm {
                    width: 500px;
                    label {
                        width: 100px;
                    }
                }

                fieldset {
                    .button {
                        float:right;
                        margin-top: 20px;
                    }

                    ul {
                        padding-left: 40px;
                    }
                }

                .registrationExtra {
                    font-size: 70%;
                    margin-top: 7px;

                    i {
                        padding: 0 7px;
                    }

                    .button {
                        padding: 0 5px;
                    }
                }
            }
        }

        /*****************
            Responsive
        *****************/
        @media screen and (min-width: 810px) {
            
        }
    }
}